@model Character


@if (Model == null)
{
	<h2>No game provided</h2>
}
else
{
	<div class="border p-3 mt-4 mb-4" style="background-color:lightgray;font-size:12px;">
		<div class="row">
			<div class="col col-6">

				<div class="row mb-2">
					<div class="col col-6">
						<a asp-controller="Game" asp-action="Edit" asp-route-id="@Model.Id"
						   class="btn btn-secondary mx-2">
							<i class="bi bi-wrench-adjustable-circle"></i> Edit
						</a>
					</div>
					<div class="col col-6">
						<a asp-controller="Game" asp-action="Delete" asp-route-id="@Model.Id"
						   class="btn btn-secondary mx-2">
							<i class="bi bi-trash"></i> Delete
						</a>
					</div>
				</div>

				<h3>@Model.Name</h3>
				<h3>@Model.Race</h3>
				<h3>@Model.Strength || @Model.Dexterity</h3>
				<h3>@Model.Constitution || @Model.Intelligence</h3>
				<h3>@Model.Wisdom || @Model.Charisma</h3>
			</div>
		</div>
	</div>

}